@import "media-queries";

.underline{
  width: calc(0.5*0.4*100vw);
  height: 0.5rem;
  background: var(--secondary);
  margin-bottom: 0.8rem;
  @include xs {
    width: calc(0.4*100vw);
  }
}
.underline-primary{
  height: 0.5rem;
  margin-bottom: 0.8rem;
  background: var(--primary);
  width: calc(0.966*0.6*100vw);
  @include xs {
    width: calc(0.85*100vw);
  }
  
}
